@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Titles;
  src: url(./assets/fonts/titles.ttf);
}

@font-face {
    font-family: 'Pixelated';
    src: url("./assets/fonts/Pixelated.woff2") format("woff2"),
        url("./assets/fonts/Pixelated.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,
html {
    background: #000;
    color: #fff;
    overflow: overlay;
    scroll-behavior: smooth;
    font-family: "Pixelated", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.normal-text {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

.title {
    font-family: "Titles", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}